<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
        >
        
        
        
        <!-- 配置信息源数据库等 -->
   <tx:annotation-driven transaction-manager="transactionManager" 
                                       proxy-target-class="true"/>
   <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://localhost/sccp?useUnicode=true&amp;characterEncoding=UTF-8" />
        <property name="user" value="root"></property>
        <property name="password" value="root"></property>
    </bean>  
        
        

	<!-- 配置sessionfactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		p:dataSource-ref="dataSource">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
		<property name="annotatedClasses">
			<list>
				<value>org.sccooperation.domain.People</value>
				<value>org.sccooperation.domain.Cv</value>
				<value>org.sccooperation.domain.Enterprise</value>
				<value>org.sccooperation.domain.Note</value>
				<value>org.sccooperation.domain.ReplyNote</value>
				<value>org.sccooperation.domain.RReplyNote</value>
				<value>org.sccooperation.domain.Tag</value>
				<value>org.sccooperation.domain.Post</value>
				<value>org.sccooperation.domain.Enterprisesubuser</value>
				<value>org.sccooperation.domain.BackstageUser</value>
				<value>org.sccooperation.domain.Course</value>
			</list>
		</property>
	</bean>





	<!-- 配置事务 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory">
	</bean>
	<aop:aspectj-autoproxy />

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut expression="execution(*  org.sccooperation.service.impl.*.*(..))"
			id="txPointcut" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut" />
	</aop:config>

	<!-- 配置底层操作的实体类，用来给service层赋值 -->
	<!-- 模板类防止冗余 -->
	<bean id="daoTemplate" abstract="true" lazy-init="true"
		p:sessionFactory-ref="sessionFactory"></bean>




	<!-- spring装配 -->
	<!-- 用户类装配 -->
	<bean id="userDaoImpl" class="org.sccooperation.daoimpl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="userManageImpl" class="org.sccooperation.service.impl.UserManageImpl">
		<property name="userDao" ref="userDaoImpl"></property>
	</bean>

	<!-- 帖子类装配 -->
	<bean id="noteDaoImpl" class="org.sccooperation.daoimpl.NoteDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="noteManageImpl" class="org.sccooperation.service.impl.NoteManageImpl">
		<property name="noteDao" ref="noteDaoImpl"></property>
	</bean>

    <!-- 黄智豪 START-->
    	<!-- 工作显示类装配 -->
   	<bean id="postDaoImpl" class="org.sccooperation.daoimpl.PostDaoImpl">
   	<property name="sessionFactory" ref="sessionFactory"></property>
   	</bean>
   	<bean id="postManageImpl" class="org.sccooperation.service.impl.PostManageImpl">
   	<property name="postDao" ref="postDaoImpl"></property>
   	</bean>
   	
   	<bean id="tagDaoImpl" class="org.sccooperation.daoimpl.TagDaoImpl">
   	<property name="sessionFactory" ref="sessionFactory"></property>
   	</bean>
   	<bean id="tagManageImpl" class="org.sccooperation.service.impl.TagManageImpl">
   	<property name="tagDao" ref="tagDaoImpl"></property>
   	</bean>
   	
   	
   	<bean id="enterpriseDaoImpl" class="org.sccooperation.daoimpl.EnterpriseDaoImpl">
   	<property name="sessionFactory" ref="sessionFactory"></property>
   	</bean>
    <bean id="enterpriseManageImpl" class="org.sccooperation.service.impl.EnterpriseManageImpl">
    <property name="enterpriseDao" ref="enterpriseDaoImpl"></property>
    </bean>
    
    <bean id="courseDaoImpl" class="org.sccooperation.daoimpl.CourseDaoImpl">
    <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="courseManageImpl" class="org.sccooperation.service.impl.CourseManageImpl">
    <property name="courseDao" ref="courseDaoImpl"></property>
    </bean>
    
    <bean id="peopleDaoImpl" class="org.sccooperation.daoimpl.PeopleDaoImpl">
    <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="peopleManageImpl" class="org.sccooperation.service.impl.PeopleManageImpl">
    <property name="peopleDao" ref="peopleDaoImpl"></property>
    </bean>
    




	<!-- 配置Action层,action直接调用即可 -->

	<bean id="loginAction" class="org.sccooperation.action.LoginAction"
		scope="prototype">
		<property name="userManage" ref="userManageImpl"></property>
	</bean>

	<bean id="InsertUserAction" class="org.sccooperation.action.InsertUserAction"
		scope="prototype">
		<property name="userManage" ref="userManageImpl"></property>
	</bean>

	<bean id="LuntanAction" class="org.sccooperation.action.LuntanAction"
		scope="prototype">
		<property name="noteManage" ref="noteManageImpl"></property>
	</bean>

	<bean id="AddNoteAction" class="org.sccooperation.action.AddNoteAction"
		scope="prototype">
		<property name="noteManage" ref="noteManageImpl"></property>
	</bean>

	<bean id="MinuteNoteAction" class="org.sccooperation.action.MinuteNoteAction"
		scope="prototype">
		<property name="noteManage" ref="noteManageImpl"></property>
	</bean>

	<bean id="AddReplyNoteAction" class="org.sccooperation.action.AddReplyNoteAction"
		scope="prototype">
		<property name="noteManage" ref="noteManageImpl"></property>
	</bean>
	
  <!-- 黄智豪 -->
    <!-- 工作显示Action -->
    <!-- 创兴谷 -->
    <bean id="ChuangxingguAction" class="org.sccooperation.chuangxinggu.action.ChuangxingguAction" scope="prototype">
    <property name="postManage" ref="postManageImpl"></property>
    <property name="enterpriseManage" ref="enterpriseManageImpl"></property>
    </bean>
     
    
    <bean id="ShowMoreJobAction" class="org.sccooperation.chuangxinggu.action.ShowMoreJobAction" scope="prototype">
    <property name="postManage" ref="postManageImpl"></property>
    </bean>
    
    <bean id="ShowJobInfoAction" class="org.sccooperation.chuangxinggu.action.ShowJobInfoAction" scope="prototype">
    <property name="postManage" ref="postManageImpl"></property>
    <property name="tagManage" ref="tagManageImpl"></property>
    <property name="enterpriseManage" ref="enterpriseManageImpl"></property>
    </bean> 

	<!-- 躬行课堂 -->
 	<bean id="GongxingketangAction" class="org.sccooperation.gongxingketang.action.GongxingketangAction" scope="prototype">
 	<property name="courseManage" ref="courseManageImpl"></property>
 	<property name="enterpriseManage" ref="enterpriseManageImpl"></property>
 	</bean>
 	
 	<bean id="ShowCourseInfoAction" class="org.sccooperation.gongxingketang.action.ShowCourseInfoAction" scope="prototype">
 	<property name="courseManage" ref="courseManageImpl"></property>
 	<property name="peopleManage" ref="peopleManageImpl"></property>
 	</bean>
	
	
	
	
	

	<!-- WLNSSS -->
	<bean id="peopleManageAction" class="org.sccooperation.action.backstage.PeopleManageAction"
		scope="prototype">
		<property name="userManage" ref="userManageImpl"></property>
		<property name="commonManage" ref="commonManageImpl"></property>
	</bean>
	
	

	<bean id="noteManageAction" class="org.sccooperation.action.backstage.NoteManageAction"
		scope="prototype">
		<property name="noteManage" ref="noteManageImpl"></property>
		<property name="commonManage" ref="commonManageImpl"></property>
	</bean>

<!-- 
	<bean id="enterpriseDaoImpl" class="org.sccooperation.daoimpl.EnterpriseDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="enterpriseManageImpl" class="org.sccooperation.service.impl.EnterpriseManageImpl">
		<property name="enterpriseDao" ref="enterpriseDaoImpl"></property>
	</bean>

	<bean id="enterpriseManageAction"
		class="org.sccooperation.action.backstage.EnterpriseManageAction"
		scope="prototype">
		<property name="commonManage" ref="commonManageImpl"></property>
		<property name="enterpriseManage" ref="enterpriseManageImpl"></property>
	</bean>
	 -->
	<bean id="enterprisesubuserDaoImpl" class="org.sccooperation.daoimpl.EnterprisesubuserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="enterprisesubuserManageImpl"
		class="org.sccooperation.service.impl.EnterprisesubuserManageImpl">
		<property name="backstageEnterprisesubuserDao" ref="enterprisesubuserDaoImpl"></property>
	</bean>
	<bean id="enterprisesubuserManageAction"
		class="org.sccooperation.action.backstage.EnterprisesubuserManageAction"
		scope="prototype">
		<property name="commonManage" ref="commonManageImpl"></property>
		<property name="enterprisesubuserManage" ref="enterprisesubuserManageImpl"></property>
	</bean>

	<bean id="backstagePostDaoImpl" class="org.sccooperation.daoimpl.BackstagePostDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="backstagePostManageImpl" class="org.sccooperation.service.impl.BackstagePostManageImpl">
		<property name="backstagePostDao" ref="backstagePostDaoImpl"></property>
	</bean>

	<bean id="backstagePostManageAction"
		class="org.sccooperation.action.backstage.BackstagePostManageAction"
		scope="prototype">
		<property name="commonManage" ref="commonManageImpl"></property>
		<property name="backstagePostManage" ref="backstagePostManageImpl"></property>
	</bean>
	
		<bean id="replyNoteManageAction"
		class="org.sccooperation.action.backstage.ReplyNoteManageAction"
		scope="prototype">
		<property name="replyNoteManage" ref="noteManageImpl"></property>
	</bean>

	<!-- 注册共有类 -->
	<bean id="commonDaoImpl" class="org.sccooperation.daoimpl.CommonDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="commonManageImpl" class="org.sccooperation.service.impl.CommonManageImpl">
		<property name="commonDao" ref="commonDaoImpl"></property>
	</bean>


</beans>
